:root {
    --title-height: 40px;  
    --button-height: 30px;  
    --map-height: 320px;  
    --chart-1-width: 200px;
    --chart-2-width: 200px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    
    display: grid;
    grid-template-areas:
        "title                  title                      filters     "
        "buttons                buttons                    clear-filters    "
        "map                    map                        list       "
        "chart-1                chart-2                    list       ";
    grid-template-columns: var(--chart-1-width) var(--chart-2-width) 1fr;
    grid-template-rows: var(--title-height) var(--button-height) 1fr;
    gap: 10px 20px;
    margin: 3px;
    height: 100vh; 
    width: calc(100vw - 1.1rem);   
} 


#title {
    grid-area: title;  
    font-size: 30px;
    font-weight: 700; 
}

#upload {
    grid-area: upload;
}

#buttons {
    grid-area: buttons;
}

#map {
    grid-area: map;
}

#filters {
    grid-area: filters;
}

#chart-1 {
    grid-area: chart-1;   
}

#chart-2 {
    grid-area: chart-2;
}

#list {
    grid-area: list;    
}


.dc-chart .row text {
  fill: black !important;
}

td {
    font-size: 12px;
}

#buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* allows buttons to wrap if needed */
} 

.question-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.question-button.active {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

.response-count {
    font-size: 22px; 
    font-weight: 600; 
}

.state-response-count {
    font-size: 12px; 
    font-weight: 500; 
}